* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
// ========================================
$colo1: #dbdbdb;
$color2: #999a9e;
$font1: "myFirstFont", sans-serif;
$font2: "Dosis", sans-serif;
$body: linear-gradient(298deg, #050017, #062014);
$transition: 0.4s ease-in;
$outerapace: 0.875rem;
// ===============================

@font-face {
  font-family: myFirstFont;
  src: url(../font/Sportzan-GOYLg.ttf);
}

// ===============================
@mixin maxBreakpoint($breakpoints) {
  @media (max-width: ($breakpoints)) {
    @content;
  }
}

body {
  background: $body;
  text-rendering: optimizeSpeed;

  .loading-container {
    position: fixed;
    background: #000000;
    width: 100%;
    height: 100vh;
    z-index: 3;
  }

  .loading-screen {
    position: fixed;
    width: 0%;
    height: 100vh;
    background: #0c1017;
    z-index: 3;
  }
  .loader {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    z-index: 9999;

    &::after {
      content: "Loading...";
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, -50%);
      font-family: $font2;
      font-size: 1.375rem;
      margin: 0 0 2.1875rem -4.875rem;
      color: $colo1;
      font-weight: 400;
    }
    .wrapSvg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      animation: ganim 0.2s infinite ease alternate;
      @keyframes ganim {
        0% {
          filter: drop-shadow(0rem 0rem 0.0625rem #8d0303);
        }

        100% {
          filter: drop-shadow(0.1875rem 0rem 0.0625rem #8d0303);
        }
      }
      svg {
        width: 1.8125rem;
        border-radius: 62.4375rem;
        transform: scale(5);

        animation: ganim2 0.2s infinite ease alternate;
        @keyframes ganim2 {
          0% {
            filter: drop-shadow(-0rem 0rem 0.0063rem #03118d);
          }

          100% {
            filter: drop-shadow(-0.0375rem 0rem 0.0063rem #03118d);
          }
        }
        .ganim {
          fill: $colo1;
        }
      }
    }
  }
  .cursor,
  .cursor2 {
    z-index: 10000;
    pointer-events: none;
    position: fixed;
  }
  .cursor {
    width: 2.625rem;
    height: 2.625rem;
    border: 0.0625rem solid #fff;
    border-radius: 50%;
    margin-top: -0.9375rem;
    margin-left: -0.9375rem;
    transition: 0.01s;
    &::before {
      content: "Click To Visit";
      position: absolute;
      white-space: nowrap;
      color: #fff;
      font-size: 1.1rem;
      left: 1rem;
      top: -0.5rem;
      font-family: $font2;
      font-weight: 400;
      opacity: 0;
      visibility: hidden;
      transition: $transition;
    }
  }

  .cursor2 {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background: #fff;
    width: 1.125rem;
    height: 0.9375rem;
    transition: 0.1s;
  }

  .container {
    position: relative;
    padding: 0 $outerapace;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    @include maxBreakpoint(768px) {
      position: relative;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.625rem;
      color: $colo1;
      padding: 0.375rem 0;
      .logo {
        display: flex;
        align-items: center;
        font-family: $font1;
        font-size: 2.8125rem;
        font-weight: 500;
        a {
          user-select: none;
          svg {
            width: 1.75rem;
            border-radius: 62.4375rem;
            .ganim {
              fill: $colo1;
            }
          }
        }
      }
      .projectCount {
        h4 {
          position: relative;
          font-size: 1.25rem;
          font-family: $font2;
          letter-spacing: 0.0938rem;
          font-weight: 500;
          &::before {
            content: attr(data-count);
            position: absolute;
            left: -1.4375rem;
            top: -0.5rem;
            background: linear-gradient(298deg, #201d2d, #f83737);
            border-radius: 6.1875rem;
            padding: 0.5rem;
            font-size: 0.875rem;
            color: #dbdbdb;
            width: 0.625rem;
            height: 0.625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.125rem;
          }
        }
      }
    }
  }
  section {
    will-change: transform;

    .wrap-section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      min-height: 100vh;
      margin-left: 3%;
      align-items: center;

      @include maxBreakpoint(768px) {
        flex-direction: column;
        justify-content: center;
      }
      &::before {
        content: "PROJECTS";
        position: absolute;
        font-size: 24vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #75757512;
        font-family: $font1;
        z-index: -1;
        pointer-events: none;
        @include maxBreakpoint(768px) {
          display: none;
        }
      }
      .col-5 {
        max-width: 45%;

        @include maxBreakpoint(768px) {
          max-width: 100%;
        }
      }
      .profile {
        color: $colo1;
        .kinticBtn {
          display: block;
          margin-top: 1rem;
          padding: 0.375rem 1.625rem;
          font-size: 1rem;
          border: 0.125rem solid #000;
          color: #fff;
          background: #020213;
          border-radius: 2.25rem;
          font-family: $font2;
          cursor: pointer;
          transition: background $transition;
          display: flex;
          align-items: center;
          gap: 5px;
          svg {
            font-size: 1.5rem;
            color:#db5131;
          }
          &:hover {
            background: #0b0b0dd7;
          }
        }
        .title {
          position: relative;
          display: inline-block;
          padding-right: 0.9375rem;
          text-shadow: 0.0625rem 0.4375rem 0.3125rem #00000091;
          font-family: $font1;
          .trail {
            opacity: 0;
            transition: opacity $transition;
            pointer-events: none;
            will-change: transform, opacity;

            h2 {
              position: absolute;
              height: 30vh;
              z-index: -1;
              transform: scale(0.8);
              width: 10rem;
              background-color: #070615;
              color: #880707;
              font-family: $font2;
              display: grid;
              place-items: center;
              font-size: 4rem;
              text-align: center;
              &:nth-child(2),
              &:nth-child(4) {
                color: #d2995c;
              }
            }
          }

          h1 {
            font-size: calc(2.3rem + 2vw);
            letter-spacing: 0.375rem;
            pointer-events: none;
            @include maxBreakpoint(986px) {
              font-size: calc(2rem + 2vw);
            }
            @include maxBreakpoint(768px) {
              font-size: calc(2.2rem + 2vw);
            }
            span {
              span {
                display: inline-block;
                will-change: transform;
              }
            }
          }
          p {
            pointer-events: none;
            font-size: calc(0.6rem + 0.6vw);
            letter-spacing: 0.125rem;
            font-family: $font2;
            margin-top: 0.5625rem;
            font-weight: 400;
            max-width: 34rem;
            span {
              span {
                display: inline-block;
                will-change: transform;
              }
            }
            @include maxBreakpoint(768px) {
              font-size: calc(0.7rem + 0.7vw);
            }
          }
        }
        .social_icon {
          margin-top: 0.9375rem;
          position: relative;
          display: inline-block;

          a {
            font-size: 1.4375rem;
            margin: 0 1.1875rem 0 0;
            transition: $transition;
            filter: drop-shadow(0.5rem 0.375rem 0.4375rem #000);
            width: 1.25rem;
            height: 1.25rem;
            display: inline-block;
            border-radius: 6.1875rem;

            svg {
              border-radius: 0.5rem;
            }
            &:nth-child(1) {
              color: #2e4c86;
            }
            &:nth-child(2) {
              color: #00a9e9;
            }
            &:nth-child(3) {
              color: gray;
            }
            &:nth-child(4) {
              color: #0073b1;
            }
            &:hover {
              opacity: 0.7 !important;
            }
            &:hover ~ span::before {
              opacity: 0.3;
            }
          }
          span {
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            &::before {
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              transform: translate(100%, -50%);
              height: 0.0625rem;
              width: 100%;
              background: $colo1;
              transition: opacity 0.4s ease;
              @include maxBreakpoint(840px) {
                width: 65%;
              }
            }
          }
        }
      }
    }

    .slider-wrapper {
      background-color: #04040b91;
      overflow: hidden;
      box-shadow: 0rem 0rem 0.625rem 0.625rem #00000075 inset;
      width: 35rem;
      height: 35rem;
      justify-content: center;
      flex-direction: column;
      display: flex;
      border-radius: 50%;
      padding: 0;
      margin-top: 0;
      @include maxBreakpoint(1086px) {
        width: 32rem;
        height: 32rem;
      }
      @include maxBreakpoint(986px) {
        width: 30rem;
        height: 30rem;
      }
      @include maxBreakpoint(940px) {
        width: 27rem;
        height: 27rem;
      }
      @include maxBreakpoint(840px) {
        width: 25rem;
        height: 25rem;
      }

      @include maxBreakpoint(768px) {
        width: 100%;
        max-width: 42rem;
        height: unset;
        padding: 1.25rem 0 0.75rem;
        border-radius: 0.1875rem;
        margin-top: 5rem;
      }

      .embla__viewport {
        width: 100%;
        .embla__container {
          display: flex;
          user-select: none;
          -webkit-touch-callout: none;
          -khtml-user-select: none;
          -webkit-tap-highlight-color: transparent;
          will-change: transform;

          margin-left: 15%;
          @include maxBreakpoint(986px) {
            margin-left: 30%;
          }
          @include maxBreakpoint(940px) {
            margin-left: 35%;
          }
          @include maxBreakpoint(840px) {
            margin-left: 50%;
          }
          @include maxBreakpoint(768px) {
            margin-left: 30%;

            & *,
            & *::before {
              transition-delay: unset !important;
            }
          }
          @include maxBreakpoint(560px) {
            margin-left: 40%;
          }
        }
      }

      .controlers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        @include maxBreakpoint(768px) {
          position: unset;
        }

        .slider-nav {
          div {
            display: inline;
            font-size: 0.9375rem;
            letter-spacing: 0.125rem;
            color: $colo1;
            font-family: $font2;
            font-weight: 500;
            position: absolute;
            right: -0.375rem;
            transform: rotate(-90deg);
            bottom: 5rem;
            @include maxBreakpoint(768px) {
              position: unset;
            }

            &:hover {
              opacity: 0.7;
            }
          }
          #next {
            margin-right: 0.375rem;
          }
          span {
            margin-left: 1.25rem;
            display: inline-block;
            .embla__button {
              outline: 0;
              background-color: transparent;
              touch-action: manipulation;
              border: 0;
              width: 1.875rem;
              height: 1.875rem;
              justify-content: center;
              align-items: center;
              fill: $color2;
              padding: 0;

              .embla__button__svg {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
          }
        }
        .embla__progress {
          position: relative;
          background-color: #2d2b2b;
          max-width: 16.875rem;
          width: 22%;
          height: 0.1875rem;
          overflow: hidden;
          border-radius: 0.125rem;
          margin-left: $outerapace;
          .embla__progress__bar {
            position: absolute;
            background-color: $color2;
            width: 100%;
            top: 0;
            bottom: 0;
            left: -100%;
          }
        }
      }
    }
  }

  // ================

  footer p {
    text-align: center;
    color: $colo1;
    font-family: $font2;
    font-weight: 400;
    margin-bottom: 0.125rem;
  }
  // ============================
  .viewall {
    font-family: $font2;
    color: $colo1;
    text-align: center;
    min-height: 100vh;
    & *,
    & *::before {
      transition-delay: unset !important;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
    & > a {
      text-decoration: underline;
    }

    .wrapitem {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      & .slider .browser {
        margin-right: 0.3125rem;
      }
      @include maxBreakpoint(560px) {
        & .slider .browser {
          width: 21.5625rem;
          height: 68%;
          margin-right: 0;
        }
      }
    }
  }
}

// =========================
// .animationscreenproblem {
//   visibility: hidden;
//   animation: opc 1s ease forwards;
//   animation-delay: 1s;
//   @keyframes opc {
//     100% {
//       visibility: visible;
//     }
//   }
// }

// ========================================
body.logopush .cursor {
  background: rgb(176, 176, 189);
  border: 0px;
  mix-blend-mode: difference;
}

body.navpush .cursor2,
body.logopush .cursor2 {
  transition: $transition;
  opacity: 0;
}
body.linkpush .cursor {
  transition: $transition;
  opacity: 0;
}
body.linkpush .cursor2 {
  mix-blend-mode: unset;
}
body.itempush .cursor,
body.itempush .cursor2 {
  border: 0;
  mix-blend-mode: difference;
}
body.itempush .cursor::before {
  transition: $transition;
  opacity: 1;
  visibility: visible;
}

// ===================================
@import "./_item";
@import "./_kintic";

// ======================
