:root {
  --tx: 0px;
  --ty: 0px;
  --rotate: 0deg;
  --scale: 1;
}

.wrapper {
  position: absolute;
  width: 18.75rem;
  height: 18.75rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(1.25rem) scale(1.5);
  overflow: hidden;
  font-family: $font1;
  @include maxBreakpoint(600px) {
    transform: translate(-50%, -50%) scale(1);
  }

  .wrapper-box {
    position: absolute;
    width: 18.75rem;
    height: 18.75rem;
    transform: translateX(var(--tx)) translateY(var(--ty)) rotate(var(--rotate))
      scale(var(--scale));
    transform-origin: calc(50% - var(--tx)) calc(50% - var(--ty)) 0rem;
    will-change: transform;
    .text {
      position: absolute;
      top: 0;
      transform-origin: 0% 0%;
      font-size: 1.5625rem;
      margin: 0;
      padding: 0;
      top: 6.25rem;
      line-height: 1;
      color: #c17736;
    }
    .i {
      top: 4.5rem;
      left: 2.125rem;
      font-size: 1.5rem;
      height: 4.375rem;
      line-height: 4.375rem;
      transform: rotate(-91deg);
    }
    .frontend {
      top: -0.1875rem;
      left: 5.4375rem;
      font-size: 1.125rem;
      letter-spacing: 0.0625rem;
      width: 7.4375rem;
    }
    .engineer {
      top: 1.875rem;
      left: 5rem;
      font-size: 2.5rem;
      letter-spacing: 0.0625rem;
    }
    .with {
      top: 4.625rem;
      left: 16.5625rem;
      font-size: 2.25rem;
      transform: rotate(90deg);
      background: #c17736;
      color: #fff;
      padding: 0rem 0.25rem;
    }
    .javascript {
      top: 4.625rem;
      left: 14.3125rem;
      transform: rotate(90deg);
      font-size: 2.1875rem;
    }
    .typescript {
      top: 4.5rem;
      right: 6.875rem;
      font-size: 1.5625rem;
    }
    .css {
      top: 6.1875rem;
      right: 6.25rem;
      font-size: 1.1875rem;
      width: 6.125rem;
    }
    .nodejs {
      top: 8.375rem;
      right: 6.875rem;
      font-size: 2.1875rem;
    }
    .animation {
      top: 10.6875rem;
      right: 6rem;
      font-size: 1rem;
      width: 6.0625rem;
    }
    .scenejs {
      top: 12.8125rem;
      right: 6.875rem;
      font-size: 1.375rem;
    }
  }
}
